API_ID=2040
API_HASH=b18441a1ff607e10a989891a5462e627
BOT_TOKEN=123456:ABCDEF...
SOURCE_CHAT=https://t.me/source_group
TARGET_CHAT=https://t.me/target_group

# Listener account login
LISTENER_SESSION=session/listener.session
LISTENER_PHONE=+8613800000000
LISTENER_CODE=
LISTENER_PASSWORD=
BUTTON_ADMIN_IDS=123456789,987654321
